@tailwind components;
@tailwind base;
@tailwind utilities;

@font-face {
  font-family: 'digital-clock-font';
  src: url('assets/ProtoMono Regular.ttf');
}

@font-face {
  font-family: 'digital-clock-font-bold';
  src: url('assets/ProtoMono SemiBold.ttf');
}

.mano-darbas {
  background: conic-gradient(transparent 0%, green 0% 50%, transparent 50%);
}

.mano-darbas-2 {
  background: conic-gradient(white 0% 75%, transparent 75%);
}

.mano-darbas-3 {
  background: conic-gradient(transparent 0% 60%, red 60% 75%, transparent 75%);
}

.mano-darbas-4 {
  background: conic-gradient(white 0% 25%, transparent 25%);
}

.mano-darbas-5 {
  background: conic-gradient(#333333 0% 25%, transparent 25%);
}

.mano-darbas-6 {
  background: conic-gradient(#333333 0% 75%, transparent 75%);
}

.mano-darbas-7 {
  background: conic-gradient(
    transparent 0% 13.75%,
    red 13.75% 25%,
    transparent 25%
  );
}

.mano-darbas-8 {
  background: conic-gradient(red 0% 5%, transparent 5%);
}

// VA CIA TAS SUGENERUOTAS
